.abouttext{
    text-align: justify;
    font-size: 20px;
    font-weight: 400;
    color: white;
}
.aboutboxtext{
    border: 2px solid white;
    border-radius: 24px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
    padding:10px 40px;
}
.imageslider{
    margin-top: 80px;
    margin-left: 220px;
    margin-right: 120px;
    width: 900px;
    height: 450px;
    border-radius: 30px;
    overflow: hidden;
}
.imageslidershow{
    width: 500%;
    height: 500px;
    display: flex;
}