.abouttext{
    text-align: justify;
    font-size: 20px;
    font-weight: 400;
    color: white;
}
.aboutboxtext{
    border: 2px solid white;
    border-radius: 24px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
    padding:10px 40px;
}
