h1{
    color: white;
    font-size: 56px;
    font-weight:800;
    padding-top:6%;
    margin-left: 20px;
}
.subimg1{
    padding-top: 10%;
}
.IMG{
    width: 22%;
    height: 240px;
    border-radius: 24px;
    margin-top: 36px;
    margin-right: 42px;
    object-fit: cover;
}