.box{
    background-color:transparent;
    backdrop-filter: blur(20px);
    border: 2px solid white;
    border-radius: 40px;
    padding: 20px 30px;
    margin: 100px auto;
    width: 300px;
    
}
.main h1{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #80eafa;  
}
.main input{
    background-color: transparent;
    font-size: 15.5px;
    color:white;
    margin: 8px;
    border-radius: 25px;
    border: 2px solid white;
    width: 80%;
    padding: 10px;
    margin-left: 10%;
    outline: none;
}
.main input::placeholder{
    color: #80eafa;
    font-family:"Playfair Display", serif;
    font-weight: 600;
}

.main button{
    background:linear-gradient(90deg,rgb(40, 119, 247),rgb(51, 223, 253),rgb(202, 247, 249));
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border: 2px solid white;
    border-radius: 30px;
    padding: 8px;
    width: 60%;
    margin-top: 25px; 
    margin-left: 20%;
    font-family:"Playfair Display", serif;
    font-weight: 600;
}
.admin{
    margin-right: 10px;
}
.main a {
    font-size: 16px;
    font-weight: bold;
    color: #80eafa;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.main a:hover{
    color:rgb(3, 140, 145);
    text-decoration: underline;
}
.main .regi{
    margin-right: 100%;
}
.span{
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
    color:#80eafa;
    font-size: 18px;
    font-weight: 600;
}
.errors{
    color: red;
    font-size: 0.8em;
    font-weight: 600;
    margin-top: 1px;
    margin-bottom: 1px;
}

