body{
    margin: 0;
    height: 100%;
}
.footermain{
    background-color: rebeccapurple;
    width: 100%;
    height: 80px;
    padding-bottom: 40px;
    display: flex;
}
.footerleft{
    flex:4;
}
.footercenter{
    flex:4;
}
.footerright{
    flex:4;
}